{{define "body"}}
	<div class="row">
		<div class="col-sm-2">
			<!-- Handles the display of the parent button based on path -->
			{{if .ParentEnabled}}
				<a class="btn btn-outline-secondary folder" title="Go back" href="/api/navigation/{{.Path}}../">
			{{else}}
				<a class="btn btn-outline-secondary folder disabled" href="/api/navigation/{{.Path}}../">
			{{end}}
					<i class="fas fa-chevron-left"></i>&nbsp;Parent
				</a>
				<br/><br/>
		</div>
		<div class="col-sm-10">
			<!-- Displays the current path -->
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!-- Loop over the breadcrumbs -->
					{{range $i, $breadcrumb := .Breadcrumbs}}
						{{if eq $i 0}}
							<span>
								<a href="/" title="Go to the root directory">
									<i class="fas fa-folder-open text-warning"></i>&nbsp;~
								</a>&nbsp;
							</span>
						{{end}}

						{{if $.ParentEnabled}}
							{{if eq $i $.Depth}}
								<li class="breadcrumb-item active" aria-current="page">{{$breadcrumb}}</li>
							{{else}}
								<li class="breadcrumb-item"><a href="{{index $.BackLinks $i}}">{{$breadcrumb}}</a></li>
							{{end}}							
						{{end}}
					{{end}}
				</ol>
			</nav>
			<br/>

			<!-- Loop over the path content items -->
			{{range $type, $elem := .Items}}
				<!-- Type directory -->
				{{if eq $type "1_directories"}}
					{{range $mode, $items := $elem}}
						<!-- Loop over directories -->
						{{range $value := $items}}
							<!-- Handles the link generation depending on the path level -->
							{{if eq $.Path "/" }}
								<a class="" href="/api/navigation/{{$value}}">
							{{else}}
								<a class="" href="/api/navigation/{{$.Path}}{{$value}}/">
							{{end}}
							
							{{if eq $mode "hidden"}}
								<i class="fas fa-folder text-secondary"></i>&nbsp;{{$value}}
							{{end}}
							{{if eq $mode "regular"}}
								<i class="fas fa-folder"></i>&nbsp;{{$value}}
							{{end}}
							</a>
							<br/>
						{{end}}
					{{end}}
				{{end}}

				<!-- Type symlinks -->
				{{if eq $type "2_symlinks"}}
					{{range $mode, $items := $elem}}
						<!-- Loop over symlinks -->
						{{range $value := $items}}
							<!-- Handles the link generation depending on the path level -->
							{{if eq $.Path "/" }}
								<a class="" href="/api/navigation/{{$value}}">
							{{else}}
								<a class="" href="/api/navigation/{{$.Path}}{{$value}}/">
							{{end}}

							{{if eq $mode "hidden"}}
								<i class="fas fa-folder text-warning"></i>&nbsp;{{$value}}
							{{end}}
							{{if eq $mode "regular"}}
								<i class="fas fa-folder text-danger"></i>&nbsp;{{$value}}
							{{end}}
							</a>
							<br/>
						{{end}}
					{{end}}
				{{end}}

				<!-- Type files -->
				{{if eq $type "3_files"}}
					{{range $mode, $items := $elem}}
						<!-- Loop over files -->
						{{range $value := $items}}
							<!-- Handles the link generation depending on the path level -->
							{{if eq $.Path "/" }}
								<a class="" href="/api/navigation/{{$value}}">
							{{else}}
								<a class="" href="/api/navigation/{{$.Path}}{{$value}}/">
							{{end}}
							{{if eq $mode "hidden"}}
								<i class="fas fa-folder text-info"></i>&nbsp;{{$value}}
							{{end}}
							{{if eq $mode "regular"}}
								<i class="fas fa-folder text-success"></i>&nbsp;{{$value}}
							{{end}}
							</a>
							<br/>
						{{end}}
					{{end}}
				{{end}}
			{{end}}
		</div>
	</div>
{{end}}
