{{define "body"}}
	<!-- Displays the current path -->
	<i class="fas fa-folder-open"></i>&nbsp;{{.Path}}
    <br/><br/>

	<!-- Handles the display of the previous button based on path -->
	{{if .PreviousEnabled}}
		<div class="container">
			<div class="row">
				<div class="col">
					<a class="folder" href="/api/navigation/{{.Path}}../">
						<i class="fas fa-chevron-left"></i>&nbsp;Previous
					</a>
				</div>
			</div>
		</div>
		<br/><br/>
	{{end}}

	<!-- Loop over the path content items -->
	{{range $type, $item := .Items}}
		<!-- Type directory -->
		{{if eq $type "1_directories"}}
			<!-- Loop over directories -->
			{{range $directory := $item}}
				<!-- Handles the link generation depending on the path level -->
				{{if eq $.Path "/" }}
					<a class="" href="/api/navigation/{{$item}}">
				{{else}}
					<a class="" href="/api/navigation/{{$.Path}}{{$directory}}/">
				{{end}}
						<i class="fas fa-folder"></i>&nbsp;{{$directory}}
					</a>
				<br/>
			{{end}}
		{{end}}

		<!-- Type hiddenFile -->
		{{if eq $type "2_hidden_files"}}
			<!-- Loop over hiddenFile -->
			{{range $hiddenFile := $item}}
				<!-- Handles the link generation depending on the path level -->
				{{if eq $.Path "/" }}
					<a class="" href="file://{{$.RootDir}}{{$item}}">
				{{else}}
					<a class="" href="file://{{$.RootDir}}{{$.Path}}{{$hiddenFile}}">
				{{end}}
						<i class="fas fa-file text-danger"></i>&nbsp;{{$hiddenFile}}
					</a>
				<br/>
			{{end}}
		{{end}}

		<!-- Type file -->
		{{if eq $type "3_files"}}
			<!-- Loop over files -->
			{{range $file := $item}}
				<!-- Handles the link generation depending on the path level -->
				{{if eq $.Path "/" }}
					<a class="" href="file://{{$.RootDir}}{{$item}}">
				{{else}}
					<a class="" href="file://{{$.RootDir}}{{$.Path}}{{$file}}">
				{{end}}
						<i class="fas fa-file text-success"></i>&nbsp;{{$file}}
					</a>
				<br/>
			{{end}}
		{{end}}
	{{end}}
{{end}}
