{{define "body"}}
	<i class="fas fa-folder-open"></i>&nbsp;{{.Path}}

    <br><br>

	{{if .PreviousEnabled}}
		<a class="folder" href="/api/navigation/{{.Path}}../">
			<i class="fas fa-chevron-left"></i>&nbsp;Previous
		</a>
		<br><br>
	{{end}}

	{{range $item := .Items}}
		{{if eq $.Path "/" }}
			<a class="" href="/api/navigation/{{$item}}">
		{{else}}
			<a class="" href="/api/navigation/{{$.Path}}/{{$item}}/">
		{{end}}
			<i class="fas fa-folder"></i>&nbsp;{{$item}}
		</a>
		<br>
	{{end}}

	<br>
{{end}}
