/* START: Redefines the header height */
.navbar {
    min-height: 34px;
} 
.navbar-brand {
    padding: 0;
    height: 34px;
    line-height: 34px;
}  
.navbar-toggle {
    margin-top: 15px;
    padding: 9px 10px !important;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 8px;
    }
}
.main-content {
    overflow-y: scroll; 
    position:absolute;
    top: 50px;
    left:0px;
    right:0px;
    bottom:0px;
}
/* END */

/* START: Redefines the container width */
@media (min-width: 768px) {
    .container{
        max-width: 1600px;
    }
}
/* END */

/* START: Redefines the navbar colors */
.bg-dark {
    background-color: #323344 !important;
    background: #c054ff;
    background: -moz-linear-gradient(top, #c054ff 0%, #5274ff 100%);
    background: -webkit-linear-gradient(top, #c054ff 0%, #5274ff 100%);
    background: linear-gradient(to bottom, #c054ff 0%, #5274ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c054ff', endColorstr='#5274ff',GradientType=0 );
}
/* END */

/* START: Footer theming */
.footer {
    color: #FFF;
    text-align: center;
    height: 40px;
    width: 100%;
    padding: 8px;
    opacity: 0.8;

    background-color: #323344 !important;
    background: #c054ff;
    background: -moz-linear-gradient(top, #c054ff 0%, #5274ff 100%);
    background: -webkit-linear-gradient(top, #c054ff 0%, #5274ff 100%);
    background: linear-gradient(to bottom, #c054ff 0%, #5274ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c054ff', endColorstr='#5274ff',GradientType=0 );
}

.footer a {
    color: rgba(255,255,255,.5);
}
/* END */
