{{define "body"}}
	<form method="POST" action="/settings">
		<div class="form-check">
			{{if eq .ShowHiddenFiles true}}
				<input type="checkbox" class="form-check-input" name="show-hidden-files" checked="checked">
			{{else}}	
				<input type="checkbox" class="form-check-input" name="show-hidden-files">
			{{end}}
			<label class="form-check-label" for="show-hidden-files">
				&nbsp;Show hidden files
			</label>
		</div>
		<br/>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
{{end}}
